aiofiles==0.4.0
apipkg==1.5
appJar==0.94.0
asgiref==3.2.10
atomicwrites==1.4.0
attrs==19.3.0
autobahn==20.3.1
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.0
bootstrap4==0.1.0
certifi==2018.11.29
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
daphne==2.4.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.5.0
Django==3.1.1
django-allauth==0.38.0
django-bootstrap4==2.2.0
django-cache-panel==0.1
django-classy-tags==2.0.0
django-cms==3.8.0
django-crispy-forms==1.8.1
django-formtools==2.2
django-sekizai==2.0.0
django-static-jquery3==3.4.1.0
django-suit==0.2.28
django-treebeard==4.5.1
django-visit-on-site-in-new-window==0.1.0
djangocms-admin-style==2.0.2
djangorestframework==3.11.1
docutils==0.15.2
execnet==1.7.1
expects==0.9.0
fib==1.1.0
Fibo==1.0.0
gunicorn==19.9.0
h11==0.8.1
h2==3.1.1
heroku==0.1.4
hpack==3.0.0
httpcore==0.3.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.7
importlib-metadata==1.7.0
incremental==17.5.0
iniconfig==1.0.1
intervaltree==3.0.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==8.4.0
multidict==4.5.2
numpy==1.18.4
oauthlib==3.0.1
optional-django==0.3.0
packaging==20.4
parso==0.7.0
pep8==1.7.1
pickleshare==0.7.5
Pillow==5.3.0
pipenv==2020.11.15
pkginfo==1.5.0.1
pluggy==0.13.1
postgres==2.2.2
prompt-toolkit==3.0.5
psycopg2==2.8.3
psycopg2-binary==2.8.2
py==1.9.0
py-emmet==1.0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygal==2.4.0
pygame==1.9.6
Pygments==2.4.2
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==1.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.7
react==4.3.0
readme-renderer==24.0
requests==2.23.0
requests-async==0.5.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
service-identity==18.1.0
six==1.12.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sortedcontainers==2.1.0
soupsieve==2.0.1
sqlparse==0.3.0
stripe==2.15.0
suit==2.0.2
tag==0.3.3
toml==0.10.1
tqdm==4.35.0
traitlets==4.3.3
twine==1.13.0
Twisted==20.3.0
txaio==20.3.1
urllib3==1.24.2
virtualenv==16.6.1
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
zipp==3.1.0
zope.interface==5.0.1
