{% extends 'The_main_page.html' %}
{% load static %}
{% block content %}
    <div class="buy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="{% static 'image/buy.png' %}" alt="buys">
                </div>
                <div class="row">

                    <p><span>Наличный расчёт</span><br>После получения и проверки доставленного товара, Вы можете
                        оплатить заказ непосредственно курьеру, который передаст Вам товарный чек, содержащий все
                        товарные позиции Вашего заказа. </p>
                    <p><span>Безналичный расчет (для организаций)</span><br>
                        При безналичной форме оплата производится по выставленному Вам счету к оплате. </p>
                    <p>Датой оплаты заказа считается дата зачисления средств на банковский счет. </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
