{% extends 'The_main_page.html' %}
{% load static %}
{% block content %}
    <div class="delivery">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-6 title">
                    <h3>Доставка </h3>
                    <p>Доставка по Клину осуществляется БЕСПЛАТНО.</p>
                    <p class="title_ul">В который входят категории товаров :</p>
                    <ul>
                        <li>Смесители</li>
                        <li>Душевые гарнитуры</li>
                        <li>Аксесуары для ванной комнаты</li>
                        <li>Душевые трапы и лотки</li>
                        <li>Гигиенические души</li>
                        <li>Верхние души</li>
                        <li>Аксесуары для общественных санузлов</li>
                        <li>Душевые системы</li>
                        <li>Клавиши смыва</li>
                        <li>Товары вес которых не превышает 5 кг и габаритный размер в сумме не более 1 метра.</li>
                    </ul>
                    <p>Доставка за пределы г. Клин - 20 руб/км. </p>
                    <p>
                        Рассчитать или уточнить стоимость доставки Вы также можете по тел.: 8 (000) 000 00 00 )
                    </p>
                    <p>Более подробную информацию уточняйте у сотрудников магазина </p>
                    <p><span>Внимание!</span><br> Неправильно указанный номер телефона, неточный или неполный адрес
                        могут
                        привести к дополнительной задержке!</p>


                </div>
                <div class="col-lg-4">
                    <img src="{% static 'image/delivery/delivery_1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
