{% extends 'The_main_page.html' %}
{% load static %}
{% block content %}
    <div class="the__main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="nav_bar_last">
                        <ul class="dws_menu_the_main">
                            <div class="main_nav text-center">
                                <div><i class="fa fa-list"></i>Перечень товара</div>
                            </div>
                            <li class="menu_the_main"><a id="we" class="menu_the_main_a" href="#">Ванны</a>
                                <ul class="dws_menu_catalog_bathtubs ">
                                    <li class=""><a class="" href="#">чугунные</a></li>
                                    <li class="e"><a href="#">Металические</a></li>
                                    <li class="e"><a href="#">Акриловые</a></li>
                                </ul>
                            </li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Смесители</a>
                                <ul class="dws_menu_catalog_bathtubs ">
                                    <li class=""><a class="" href="#">чугунные</a></li>
                                    <li class="e"><a href="#">Металические</a></li>
                                    <li class="e"><a href="#">Акриловые</a></li>
                                </ul>
                            </li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Биде</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Кухонные мойки</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Аксесуары для ванной</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Писуары</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Системы инсталяции</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Душевые кабины</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Мебель для ванной комннаты</a>
                            </li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Системы инсталяции</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Аксесуары для ванной
                                комнаты</a>
                            </li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Писуары</a></li>
                            <li class="menu_the_main"><a class="menu_the_main_a" href="#">Унитазы</a>
                                <ul class="dws_menu_catalog_bathtubs bathtubs">
                                    <li class="e"><a class="ee" href="#">чугунные</a></li>
                                    <li class="e"><a href="#">железные</a></li>
                                    <li class="e"><a href="#">пластиковые</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-9 ">
                    <div class="fotorama"
                         data-fit="cover"
                         data-click="true"
                         data-autoplay="true"
                         data-loop="true">

                        <img src="{% static 'image/4c586c9cf5a2712d4f1462e08bd306d0.jpg' %}">
                        <img src="{% static 'image/37ef603888989727707b75e15dcfad22.jpg' %}">
                        <img src="{% static 'image/s1200.webp' %}">
                        <img src="{% static 'image/4.jpg' %}">
                    </div>
                </div>

            </div>

        </div>
    </div>
    {#    <div>#}
    {#    {% for i in new %}#}
    {##}
    {#    {{i }}#}
    {#    {% endfor %}#}
    {##}
    {#    </div>#}
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="description_title"><h2>
                        Покупка сантехники в интернет-магазине
                    </h2>
                        <p>
                            Мы работаем как с физическими, так и с юридическими лицами. Принимаем наличные и безналичные
                            платежи. Подробнее в разделе оплата. <br></p>

                        <p> Ваше первое приобретение через интернет? Отлично! Можете обратиться к нашему менеджеру по
                            телефону
                            или сделать заказ, добавив нужный товар в корзину.</p>

                        <span>Доставка</span>

                        <p> У нас осуществляется доставка по Москве и за пределами МКАД. Отправления по России.
                            Подробнее в
                            разделе доставка. <br></p>

                        <span>Оплата</span>

                        <p>
                            Мы работаем как с физическими, так и с юридическими лицами. Принимаем наличные и безналичные
                            платежи. Подробнее в разделе оплата.
                        </p></div>

                    <h3>
                        По какой причине стоит купить сантехнику именно в нашем магазине?
                    </h3>
                    <p>
                        - Преимущество нашего магазина:
                    </p>

                    <p>
                        - Большой выбор сантехники - найдется то, что соответствует именно Вашему вкусу
                    </p>
                    <p>
                        - Мы продаем продукцию со всеми гарантиями
                    </p>
                    <p>
                        - Мы работаем с дистрибьюторами и производителями
                    </p>
                    <p>
                        - Процедура заказа очень проста
                    </p>
                    <p>
                        - Бережная доставка
                    </p>
                    <p>
                        - Быстрый подбор нужного товара, который сократит Вам время, потраченное на его поиск
                    </p>
                    <p>
                        - Требуется помощь с выбором? Мы Вас проконсультируем.
                    </p>
                    <p>
                        - Гибкие цены
                    </p>
                    <p>- Для нас приоритет – это качественное обслуживание своих
                        клиентов. Ответственность за доставку в заданные сроки. Магазин сантехники постоянно работает
                        над
                        улучшением
                        сервиса и подбором качественного ассортимента продукции.
                    </p>

                    <h3>
                        В нашем каталоге сантехники вы найдете
                    </h3>
                    <p>
                        <span>Ванны</span> от популярных производителей Triton, Roca, Jacob Delafon, Ravak, Triton,
                        Kaldewei,изготовленные
                        из акрила, чугуна, искусственного камня и стали.
                    </p>
                    <p>
                        <span>Душевые кабины</span> с гидромассажем и турецкой баней от таких производителей, как
                        Niagara,
                        Timo Apollo
                    </p>
                    <p>
                        <span>Смесители</span> для кухни, туалета и ванной комнаты от Grohe, Hangrohe.
                    </p>
                    <p>
                        <span>Санфаянс</span> Унитазы и биде в стиле ретро. Раковины накладные, подвесные и встраиваемые
                        в
                        столешницу от лидеров рынка (Jika, Cersanit, Belbagno, Duravit
                    </p>
                    <p>
                        Мебель для ванных комнат в классическом и современном стиле от ведущих брендов (Am.Pm, Duravit).
                    </p>
                    <p>
                        И не только. Также многочисленные аксессуары для ванной комнаты, инсталляции, полотенцесушители,
                        душевые уголки и душевые сливы в разных цветовых исполнениях и стилях. Современные технологии
                        позволяют все это сделать максимально удобным и качественным, подходящим под Ваши запросы.

                    </p>
                    <p>
                        Унитазы в стиле ретро для туалета. Также современные мойки встраиваемые под ваши идеи для кухни.
                        Мы
                        собрали большое количество сантехнических товаров: смесители, ванны, раковины, унитазы, для
                        ванной,
                        душа, туалета и кухни популярных производителей и лидеров рынка таких как Grohe, Hansgrohe,
                        Triton и
                        другие. Разных стран производства таких как: Германия, Италия, Китай, Россия, Испания и не
                        только.
                    </p>
                    <p>
                        Остались вопросы или не нашли необходимой информации? Звоните 8 495 135-91-34
                    </p>
                    <p>
                        С уважением администрация магазина
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="performance">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3  col-12 col-sm-6">
                    <div class="icons"><i class="fa fa-truck"></i></div>
                    <div class="process">
                        <h3>Доставка</h3>
                        <p>По московской области</p>
                    </div>
                </div>
                <div class="col-lg-3  col-12 col-sm-6">
                    <div class="icons"><i class="fas fa-ruble-sign"></i></div>
                    <div class="process">
                        <h3>Оплата при получении</h3>
                        <p>По московской области</p>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-sm-6">
                    <div class="icons"><i class="fas fa-headset"></i></div>
                    <div class="process">
                        <h3>Поддержка</h3>
                        <p>По московской области</p>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-sm-6">
                    <div class="icons"><i class="fas fa-clock"></i></div>
                    <div class="process">
                        <h3>Работаем без выходных</h3>
                        <p>По московской области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}