{% extends 'The_main_page.html' %}
{% load static %}
{% block content %}
    <div class="installation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h3>КАЧЕСТВЕННЫЙ МОНТАЖ САНТЕХНИКИ: СДЕЛАНО С УМОМ</h3>
                    <p>Приобретая у нас технику, сантехническую продукцию, мебель и прочее воспользуйтесь нашими
                        квалифицированными услугами по их оперативному и качественному монтажу. Кто как не мы знает, как
                        лучше выполнить установку, чтобы полностью сохранить не только функциональные и потребительские
                        свойства, но и гарантировать их долговременную и бесперебойную работу.</p>
                    <p>Мы дорожим своей репутацией, а потому нам важно, чтобы все этапы работ были произведены на самом
                        высоком уровне: монтаж - это последний завершающий штрих отделяющий вас от наслаждения покупкой.
                        Специалисты компании «Европейская сантехника» выполняют комплексные услуги по монтажу
                        оборудования – от любого смесителя до установки сложных гидромассажных систем. «Европейская
                        сантехника» – это новое качество сантехники, которое включает в себя, помимо самой продукции,
                        качественное комплексное обслуживание сантехнического оборудования любой сложности в течение
                        всех лет его эксплуатации.</p>
                    <h5 class="text-center">Прайс-лист на выполнение услуг технического отдела</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Наименование выполняемых работ</th>
                            <th scope="col">Цена</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>МОНТАЖ МЕБЕЛИ С ПОДКЛЮЧЕНИЕМ.</td>
                        </tr>
                        <tr>
                            <th scope="row">1.1</th>
                            <td>Напольная мебель до 90см.</td>
                            <td>от 6000 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.2</th>
                            <td>Напольная мебель от 140до 200см.</td>
                            <td>от 12600 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.3</th>
                            <td>Напольная мебель от 140до 200см.</td>
                            <td>от 12600 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.4</th>
                            <td>Напольная мебель более 200см.</td>
                            <td>от 7% от стоимости</td>

                        </tr>
                        <tr>
                            <th scope="row">1.5</th>
                            <td>Подвесная мебель до 90см.</td>
                            <td>от 7800 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.6</th>
                            <td>Подвесная мебель от 90до140см.</td>
                            <td>от 10900 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.7</th>
                            <td>Подвесная мебель от 140до 200см.</td>
                            <td>от 16500 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">1.8</th>
                            <td>Подвесная мебель более 200см.</td>
                            <td>от 7% от стоимости</td>

                        </tr>
                        <tr>
                            <th scope="row">1.9</th>
                            <td>Монтаж пенала,подвесного шкафа,зеркала.</td>
                            <td>от 4200 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>МОНТАЖ САНФАЯНСА С ПОДКЛЮЧЕНИЕМ..</td>
                        </tr>
                        <tr>
                            <th scope="row">2.1</th>
                            <td>Монтаж подвесного унитаза</td>
                            <td>от 3600 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">2.2</th>
                            <td>Монтаж подвесного биде</td>
                            <td>от 5400 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">2.3</th>
                            <td>Монтаж напольного унитаза</td>
                            <td>от 6000 руб.</td>
                        </tr>
                        <tr>
                            <th scope="row">2.4</th>
                            <td>Монтаж напольного биде</td>
                            <td>от 6600 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">2.5</th>
                            <td>Монтаж раковины</td>
                            <td>от 4800 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>ДЕМОНТАЖ .</td>


                        </tr>
                        <tr>
                            <th scope="row">3.1</th>
                            <td>Мебель для ванной комнаты</td>
                            <td>от 3600руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">3.2</th>
                            <td>Унитаз,биде,раковина</td>
                            <td>от 1800руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">3.3</th>
                            <td>Смеситель</td>
                            <td>от 1200руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">3.4</th>
                            <td>Душевая кабина</td>
                            <td>от 6000 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>МОНТАЖ СОПУТСТВУЮЩИХ ТОВАРОВ.</td>
                        </tr>
                        <tr>
                            <th scope="row">4.1</th>
                            <td>Установка монокомандного смесителя</td>
                            <td>от 1800руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.2</th>
                            <td>Установка смесителя для ванны</td>
                            <td>от 2000руб</td>

                        </tr>
                        <tr>
                            <th scope="row">4.3</th>
                            <td>Установка группы кранов</td>
                            <td>от 3000руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.4</th>
                            <td>Установка сифона,механизма слива-перелива,
                                механизма наполнения,механизма слива,крышки унитаза и т.п.
                            </td>
                            <td>от 1800руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.5</th>
                            <td>Сверление отверстий в керамике.(За 1 отверстие)</td>
                            <td>от 2400руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.6</th>
                            <td>Монтаж душевой стойки с верхним душем и смесителем</td>
                            <td>от 3600руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.7</th>
                            <td>Монтаж душевого гарнитура</td>
                            <td>от 1200руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">4.8</th>
                            <td>Монтаж аксессуаров (За 1 единицу)</td>
                            <td>от 600руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>МОНТАЖ ВАНН , ДУШЕВЫХ КАБИН И ГИДРОСАУН.</td>


                        </tr>
                        <tr>
                            <th scope="row">5.1</th>
                            <td>Монтаж ванны без гидромассажа</td>
                            <td>от 6000руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5.2</th>
                            <td>Монтаж ванны с гидро-аэро массажем</td>
                            <td>от 9000руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5.3</th>
                            <td>Монтаж ванны с боксом</td>
                            <td>от 12000руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5.4</th>
                            <td>Монтаж стеклянной кабины с поддоном</td>
                            <td>от 8400руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5.5</th>
                            <td>Монтаж стеклянной кабины без поддона</td>
                            <td>от 6000руб.</td>
                        </tr>
                        <tr>
                            <th scope="row">5.6</th>
                            <td>Монтаж стеклянной двери в нишу</td>
                            <td>от 5000руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">5.7</th>
                            <td>Монтаж гидросауны (Цена в зависимости от сложности монтажа)</td>
                            <td>от 10000 до 30000 руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>СОПРОВОДИТЕЛЬНЫЕ УСЛУГИ.</td>
                        </tr>
                        <tr>
                            <th scope="row">6.1</th>
                            <td>Выезд специалиста на объект</td>
                            <td>от 1500руб.</td>

                        </tr>
                        <tr>
                            <th scope="row">6.2</th>
                            <td>Выезд специалиста на объект за пределы Г Клин</td>
                            <td>от 1500+60руб/1км.</td>

                        </tr>
                        <tr>
                            <th scope="row">6.3</th>
                            <td>Диагностика неисправности оборудования</td>
                            <td>от 1500руб.</td>
                        </tr>



                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
