{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <link rel="icon" href="{% static 'image/crane.gif' %}" type="image/x-icon"/>
    {#    <link rel="shortcut icon" href="/static/foto/2911.png" type="media/gif"/>#}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23b7fb484f.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="{% static 'animate/animate.css' %}">
    <script src="{% static 'js/javas.js' %}"></script>
    <title>Магазин сантехники в Клину</title>
    <link rel="stylesheet" href="{% static 'media/static/style1.css' %}">
</head>
<body>


<heder class="header" id="header">
    <div class="top_section">
        <div class="container ">
            <div class="row d-flex header_header align-items-center">
                <div class="col-lg-3 col-sm-3  header_title">
                    <a href="mailto:vinogradovpavel@gmail.com"><i
                            class="fa fa-envelope-o"></i><span>SantexKlin</span></a>
                </div>
                <div class="col-lg-6 col-sm-5  col header_clock ">
                    <a href="#" class=""><i class="fa fa-calendar"></i><span>пн-пт 9-00 20-00;<br class="brake"><span
                            class="time">сб-вс 10&shy;-00 17-00</span></span></a>
                </div>
                <div class="col-lg-3  col-sm-4 header_come_in ">
                    <a href="#"><i class="fa fa-sign-in"></i><span>Вход/Регистрация</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_search ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-lg-3  col-sm-6 header_search_img">
                    <a href="{% url 'first' %}"><img src="{% static 'image/1.png' %}" alt="lable"></a>
                </div>
                <div class="col-lg-3  col-sm-5 search ">
                    <div class="search_rigth ">
                        <form action="" class="di_flex">
                            <div class="product_search">
                                <input type="text" id="search1" class="search1" name="query"
                                       placeholder="Поиск по сайту">
                            </div>

                            <div class="btn_input col-lg-3 col-sm-3">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2  phone">
                    <div class="phone_call">
                        <div class="number">
                            <div><a href="tel:8 495 136-91-34">8 495 999-99-99</a></div>
                            <div class="phone_title"><a data-toggle="modal" data-taget="#mymodal" href="#modal">заказать
                                обратный звонок</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 buy_title">
                    <div class="buy">
                        <div class="empty">
                            <a href="#">
                                <i class="fa fa-shopping-cart">
                                    <span class="liner">0</span></i>
                                <span>Нет товаров</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</heder>

{% include 'navbar.html' %}

<div class="text-centr">
    {% block content %}
    {% endblock %}
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 map">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3c7e537dde8ff09563141c59a2680d30afb1e15e6387a65acffc3baeaa314648&amp;width=400&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>

            </div>
            <div class="footer-block col-md-3 co-12 ">
                <div class="single_ftr">
                    <h4 class="sf_title">Контакты</h4>
                    <ul>
                        <li>Ленинградское ш., 20, Клин, Россия.</li>
                        <li>8 495 136-91-34 <br></li>
                        <li>info@santehz.ru</li>
                    </ul>
                </div>
            </div>
            <div class="footer-block_last col-md-3 col-12 ml-auto">
                <h4 class="sf_title">Информация</h4>
                <ul class="">
                    <li class="first"><a href="{% url 'delivery' %}">Доставка</a></li>
                    <li><a href="{% url 'buy' %}">Оплата</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="{% url 'aboutTheStore' %}">Новости</a></li>
                    <li class="last"><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="inliner">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-12 inliner">
                <div class="row ">
                    <div class="inliner_title "><p class="">© Все права защищены.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Заказать обратный звонок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="close">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


{#                    <input type="text" placeholder="Имя" name="text"><br>#}
{#                    <input type="email" placeholder="Email" name="email"><br>#}
{#                    <input class="phone" type="text" name="phone" placeholder="Телефон">#}



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info">Оправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>