{% extends 'The_main_page.html' %}
{% load static %}
{% block content %}
    <div class="mixer_one">
        <div class="container">
            <div class="row">

                <div class="media">
                    {% for i in sink %}


                        <div class="mixer_one_1">
                            <a href="{% url 'about_mixer' mix_id=i.id %}">
                                <img src="{{ i.img.url }}" class="mr-3" alt=""><br>
                                <h3>{{ i.typ_e }}</h3><br>

                                <div class="media-body">
                                    <a href=""><h5 class="mt-0"></h5></a>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>


            </div>
        </div>
    </div>

{% endblock %}
